<% layout('layouts/aboilerplate')%>
<div class="row">
    <h1 class="text-center">New Food Item</h1>
    <div class="col-6 offset-3">
        <form action="/adminhome" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="food[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
           
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="food[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Item  Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="food[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            
            <div class="mb-3">
                <button class="btn btn-success">Add Item</button>
            </div>
        </form>
        
    </div>
</div>