<% layout('layouts/aboilerplate')%>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Stock Purchased</th>
        <th scope="col">Donated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Rice</td>
        <td>2.9 kg</td>
        <td> Rs 600</td>
        
      
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sugar</td>
        <td>5 kg</td>
        <td> Rs 300</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Flour</td>
        <td>2kg</td>
        <td> Rs 700</td>
        
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>wheat</td>
        <td>12kg</td>
        <td> Rs 800</td>
        
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>dal</td>
        <td>5kg</td>
        <td> Rs 400</td>
        
      </tr>      
      <tr>
        <th scope="row">6</th>
        <td>Rice</td>
        <td>2.9 kg</td>
        <td> Rs 600</td>
        
      
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Sugar</td>
        <td>5 kg</td>
        <td> Rs 300</td>
        
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Flour</td>
        <td>2kg</td>
        <td> Rs 700</td>
        
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>wheat</td>
        <td>12kg</td>
        <td> Rs 800</td>
        
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>dal</td>
        <td>5kg</td>
        <td> Rs 400</td>
        
      </tr>      
    </tbody>
  </table>